<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/static/appointment.css"/>
    <title>Diagnosis | CIMA</title>
</head>
<body class="main_bg">
  <nav class="navbar">
    <div class="nav-links">
      <a href="{{url_for('views.index')}}">Home</a>
      <li class="link"><a href="{{url_for('views.dashboard')}}">Dashboard</a></li>
      <li class="link"><a href="{{url_for('views.resource')}}">Resources</a></li>
  </div>
</nav>
<div class="form">
    <div class="form-text">
        <h1>
            Welcome to DIAGNOSIS
        </h1>
        <p>Check your Diagnosis today</p>
    </div>
    <div class="main-form">
        <form method="POST">
            <div>
                <span>Full Name:</span>
                <input type="text" name="full_name" id="name" placeholder="Write your name here..." required/>
            </div>
            <div>
                <span>Sex:</span>
                <select placeholder="Time" id="time" name="sex" required style="color: gray;">
                    <option value="Male">Male</option>
                     <option value="Female">Female</option>
                     <option value="Prefer not to say">Prefer not to say</option>

        
                </select>
            </div>

            div>
                <span>Vomitting Symptom:</span>
                <input type="text" name="Vomitting" id="name" placeholder="Are you experiencing Vomitting?" required/>
            </div>
            <div>
                <span>Sex:</span>
                <select placeholder="Time" id="time" name="sex" required style="color: gray;">
                    <option value="Yes">Yes</option>
                     <option value="No">No</option>
        
                </select>
            </div>
            <div>
            div>
                <span>Diahhrea Symptom:</span>
                <input type="text" name="Vomitting" id="name" placeholder="Are you experiencing Diahhrea" required/>
            </div>
            <div>
                <span>Sex:</span>
                <select placeholder="Time" id="time" name="sex" required style="color: gray;">
                    <option value="Yes">Yes</option>
                     <option value="No">No</option>
        
                </select>
            </div>

            div>
                <span>Abdominal Pain Symptom:</span>
                <input type="text" name="Vomitting" id="name" placeholder="Are you experiencing Abdominal Pains" required/>
            </div>
            <div>
                <span>Sex:</span>
                <select placeholder="Time" id="time" name="sex" required style="color: gray;">
                    <option value="Yes">Yes</option>
                     <option value="No">No</option>
        
                </select>
            </div>
            <div>


            div>
                <span>Dehydration Symptom:</span>
                <input type="text" name="Vomitting" id="name" placeholder="Are you experiencing Dehydration" required/>
            </div>
            <div>
                <span>Sex:</span>
                <select placeholder="Time" id="time" name="sex" required style="color: gray;">
                    <option value="Yes">Yes</option>
                     <option value="No">No</option>
        
                </select>
            </div>
            <div>


            <div>
                <span>Phone No:</span>
                <input type="number" name="phone_number" id="number" placeholder="Write your number here..." required/>
                <div>
                    <span>Note</span>
                    <textarea name="note" id="note" cols="30" rows="10" placeholder="Write your note here..."
                              required></textarea>
                </div>
            </div>
            <div id="submit">
                <input type="submit" value="SUBMIT" id="submit"/>
            </div>
        </form>
    </div>
</div>
</body>
</html>
