<!DOCTYPE html>
<html>
<head>
    <title>Health News</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">

</head>
<body>
    <nav class="top-nav">
        <button class="back-button"> <a href="{{url_for('views.index')}}">Home</a></button>
        <a href="{{url_for('views.appointment')}}">Get a Diagnosis</a>
        <a href="{{url_for('views.resource')}}">Resources</a>
    </nav>
    
    <section class="profile">
        <h1>Profile</h1>
        <div class="profile__info">
            <h1>FullName: {{current_user.full_name}}</h1>
            <p> Email: {{current_user.email}}</p>
            <p> Phone Number: {{current_user.phone_number}}</p>
            <p>Insurance Number: {{current_user.insurance_id}}</p>
        </div>

    </section>
    <hr>
    <section class="Diagnosis">
        <h1>Diagnosis Reports</h1>
        <div class="appointments__container">
            {% for appointment in appointments %}
            <div class="appointment">
                <h2>Name: {{ appointment.full_name }}</h2>
                <p>Phone Number: {{ appointment.phone_number }}</p>
                <h4>Notes: {{ appointment.note }}</h4>
    
                {% if appointment.dehydration %}
                    <p>Dehydration: {{ appointment.dehydration }}</p>
                {% endif %}
    
                {% if appointment.vomiting %}
                    <p>Vomiting: {{ appointment.vomiting }}</p>
                {% endif %}
    
                {% if appointment.diarrhea %}
                    <p>Diarrhea: {{ appointment.diarrhea }}</p>
                {% endif %}
    
                {% if appointment.abdominal_pain %}
                    <p>Abdominal Pain: {{ appointment.abdominal_pain }}</p>
                {% endif %}
    
                {% if appointment.symptom_count %}
                    <p>Symptom Count: {{ appointment.symptom_count }}</p>
                {% endif %}
                {% if appointment.diagnosis %}
                    <p>Diagnosis: {{ appointment.diagnosis }}</p>
                {% else %}
                    <p>Diagnosis: Pending</p>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </section>
    

  
</body>
</html>
